<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>radio toggle</title>
  </head>
  <body>
    <main>
      <div id="app">
        <template v-for="checkbox in checkboxes">
          <label class="text-3xl" for="checkbox.id">
            {{ checkbox.value }}
          </label>
          <input
            type="checkbox"
            :value="checkbox.value"
            :id="checkbox.id"
            :checked="checkbox.done"
            v-model="selectedCheckboxes"
          />
        </template>
      </div>
    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
  </body>
</html>
